@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


$outfitFont: 'Outfit', sans-serif;

$outfitParagraph: 18px;

$outfitW300: 300;
$outfitW400: 400;
$outfitW600: 600;
